/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-height: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

body{
    background-color: #20283b;
    display: flex;
    justify-content: center;
}

.header{
    position: absolute;
    width: 100%;
    height: 55px;
    background-color: #0e141b;
}

.header_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_wrapper p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Arimo", sans-serif;
    margin-left: 10px;
}

.main{
  top: 55px;
  position: absolute;
  position: relative; 
  height: calc(55px - 100%);
  width: 90%;
  max-width: 1100px;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #d3d3d3;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

.sort{
  display: flex;
  margin-top: 17px;
  padding: 0 20px 0 22px;
  width: 100%;
  height: 54px;
  background-color: #0e141b;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
}

.sort_empty{
  width: 113px;
  height: 100%;
}

.sort_button{
  color: #76808C;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
  cursor: pointer;
}

.sort_button:hover{
  color: rgb(211, 211, 211);
}

.game_name{
  width: calc(53px + clamp(120px, 20vw, 300px) + clamp(10px, 5vw, 20px));
  text-align: center;
}

.list{
  width: 100%;
  list-style: none;
  padding: 0;
}

.list_element{
  margin-top: 10px;
  width: 100%;
  height: 112px;
  background-color: #171e2b;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 22px;
  padding-right: 20px;
  justify-content: space-between;
  color: white;
  font-family: "Arimo", sans-serif;
  font-size: 16px;
}

.cards_preview{
  display: flex;
  align-items: center;
}

.card_list {
  width: 59px;
  height: 62px;
  transition: all 0.2s ease;
}

.card_list:hover{
  transform: scale(1.3);
}

.swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card_wrap a img {
  width: 62px;
  height: 62px;
  max-height: 100%;
  object-fit: none;
  pointer-events: none;
}

.name_of_game {
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.name_of_game:hover {
  text-decoration: underline;
}

.number_of_cards{
  font-size: 16px;
  width: 125px;
  text-align: center;
}

.buy_btn{
  width: 113px;
  height: 44px;
  border-radius: 3px;
  background-color: #A1CD44;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 18px;
  font-weight: 500;
}

.buy_btn:hover{
  background-color: #aad257;
  transform: translateY(-1px)
}

.buy_btn:active{
  background-color: #b5da66;
  transform: translateY(1.5px)
}

.name_of_game{
  margin-left: clamp(10px, 5vw, 20px);
  width: clamp(120px, 20vw, 300px);
}

.cards_price{
  width: 46px;
  text-align: center;
}

.load_btn_wrapper{
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.load_btn{
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  height: 44px;
  width: 130px;
  color: #76808C;
  background-color: #0e141b;
  transition: all 0.1s ease;
}

.load_btn:hover{
  background-color: #aad257;
  color: black;
}

.load_btn:active{
  background-color: #b5da66;
  transform: translateY(1.5px)
}

.load_btn:disabled{
  color: #76808C;
  background-color: #2a2c2e;
}

.list .item:last-child{
  margin-bottom: 30px;
}